# .env file example


VECTOR_STORE_INDEX_NAME=<some_random_name_but_related_to_the_pinecone_index_name>

OPENAI_API_KEY=


# LANGSMITH_TRACING=true
# LANGCHAIN_API_KEY=
# LANGCHAIN_PROJECT=

# todo a switch between pinecone cloud vector store and faiss local vector store
# VECTOR_STORE=pinecone
VECTOR_STORE=faiss
# VECTOR_STORE=pgvector

# if pinecone
# PINECONE_API_KEY=
# PINECONE_INDEX_NAME=

# if pgvector
# Verbindungszeichenfolge für PGVector
# Nutze "localhost" wenn deine App außerhalb des Docker-Netzwerks läuft,
# oder "db" wenn deine App als Container innerhalb desselben docker-compose Netzwerks läuft.

# PGVECTOR_URL=langchain@localhost:6024/langchain
# POSTGRES_USER=langchain
# POSTGRES_PASSWORD=langchain
# POSTGRES_DB=langchain

# Alternativ, falls du beide Container über docker-compose orchestrierst und die App im selben Netzwerk läuft:
# PGVECTOR_URL=langchain:langchain@db:5432/langchain

PROJECT_PATH=/path/to/your/project/
PDF_PATHS=data/some_pdf.pdf

MIN_CITATIONS=3
MAX_CITATIONS=4
